// Typography
// ------------------------------------------------------------------------ //
$base_px_font_size: 16;
$base_font_size: $base_px_font_size * 1px;
$base_line_height: 1.6;
$font_serif:
  Montserrat,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
$base_font_family: $font_serif;
$space: $base_line_height * 1em;

// Colors
// ------------------------------------------------------------------------ //

// $palettes: (
//   'primary': #ff6600,
//   'black': #000,
//   'orange': #ff6600,
//   'red': #d60000,
//   'green': #30981d,
//   'grey': #828282,
//   'dark-grey': #656565,
//   'yellow': #fcc12d,
//   'blue': #4f8ad0,
// );

// $light-palettes: (
//   'light-grey': #ededed,
//   'white': #fff,
//   'light-green': #66b947,
// );

// @function palette($color) {
//   @if map-has-key($palettes, $color) {
//     @return map-get($palettes, $color);
//   } @else if map-has-key($light-palettes, $color) {
//     @return map-get($light-palettes, $color);
//   } @else {
//     @warn "key `#{$color}` was not found. Falling back to #000";
//     @return #000;
//   }
// }

// $primary: palette('primary');
// $green: palette('green');
// $orange: palette('orange');
// $red: palette('red');
// $grey: palette('grey');
// $dark-grey: palette('dark-grey');
// $yellow: palette('yellow');
// $blue: #4f8ad0;
// $light-green: palette('light-green');
$black: #000;
$black90: color-mix(in srgb, $black, white 10%);
$black80: color-mix(in srgb, $black, white 20%);
$black70: color-mix(in srgb, $black, white 30%);
$black60: color-mix(in srgb, $black, white 40%);
$black50: color-mix(in srgb, $black, white 50%);
$black40: color-mix(in srgb, $black, white 60%);
$black30: color-mix(in srgb, $black, white 70%);
$black20: color-mix(in srgb, $black, white 80%);
$black10: color-mix(in srgb, $black, white 90%);
$black7: color-mix(in srgb, $black, white 93%);
$black5: color-mix(in srgb, $black, white 95%);

// $link: $primary;
// $link_hover: darken($link, 10%);

$selection_bg: #b3d4fc;
$selection_color: $black;

$shadow: 0 2px 6px rgba($black, 0.4);

// Break Points
// ------------------------------------------------------------------------ //

$small: 'screen and (min-width: 28em)';
$small_portrait: 'screen and (min-width: 28em) and (orientation: portrait)';
$small_landscape: 'screen and (min-width: 28em) and (orientation: landscape)';

$medium: 'screen and (min-width: 48em)';
$medium_portrait: 'screen and (min-width: 48em) and (orientation: portrait)';
$medium_landscape: 'screen and (min-width: 48em) and (orientation: landscape)';

$large: 'screen and (min-width: 64em)';
$extra_large: 'screen and (min-width: 75em)';

$retina: '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 1.25dppx), (min-resolution: 120dpi)';

// @import '../mixin/mixin';
