// @import '../partials/variables';

$headerHeight: 64px;

// $bgHoverNav: lighten($black10, 6%);
$bgHoverNav: color-mix(from srgb, #000, white 95%);

.site-header {
  @apply fixed top-0 z-[3] flex h-[64px] w-full items-center justify-between space-x-1 border-b shadow-md;

  .container {
    @apply mx-auto flex flex-wrap items-center justify-between p-1;
  }

  .site-logo {
    @apply font-mono text-3xl;

    img {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  }

  .scrim {
    @apply pointer-events-none fixed inset-x-0 bottom-0 -z-10 bg-black opacity-0 transition-all duration-150 ease-in-out;
    height: calc(100vh - $headerHeight);
  }

  &:has(.main-nav.is-active) .scrim {
    @apply opacity-50;
  }
}

// HEADER NAV COMPONENT
.header-nav {
  @apply flex items-center;
}

// MAIN NAV COMPONENT
.main-nav > ul {
  // display: block;
  // position: fixed;
  // z-index: 3;
  // top: $headerHeight;
  // right: 0;
  // width: 320px;
  // background-color: #fff;
  // transform: translateX(100%);
  // transition: transform .3s ease;

  @apply fixed right-0 top-[64px] z-[3] block w-80 translate-x-full bg-white transition-transform;
  height: calc(100vh - $headerHeight);

  li {
    position: relative;
  }

  @media (screen(lg)) {
    // transform: translateX(0);
    // width: auto;
    // display: flex;
    // position: static;
    // height: auto;
    @apply lg:static lg:flex lg:h-auto lg:w-auto lg:translate-x-0;
  }
}

.main-nav a {
  // display: block;
  // padding: 1em;
  // line-height: 1.2;

  @apply block p-4 leading-tight hover:bg-slate-100;

  &:hover {
    background-color: $bgHoverNav;
  }
}

.main-nav__item > span a {
  height: $headerHeight;
  display: flex;
  align-items: center;

  &.router-link-active {
    @apply text-primary;
    background-color: $bgHoverNav;
  }
}

.main-nav .parent-nav > span {
  position: relative;

  & > a {
    padding-right: 2em;
  }

  .nav-arrow {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    top: 0;
    padding: 1em 0.5em;
    line-height: 1.6;
    width: 100%;
    height: 100%;

    @media (hover: hover) {
      pointer-events: none;
    }
  }
}

.main-nav > ul > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  @media (screen(lg)) {
    border-bottom: none;
  }
}

.main-nav {
  .nav-trigger {
    position: relative;
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
  }

  .nav-trigger span {
    transition: transform 0.3s ease;
  }

  &.is-active .nav-trigger span {
    transform: rotate(180deg);
  }

  @media (screen(lg)) {
    .nav-trigger {
      display: none;
    }
  }
}

.main-nav.is-active {
  & > ul {
    transform: translateX(0);
  }
}

// SUB NAV
.parent-nav {
  background-color: #fff;

  @media (hover: hover) {
    &:hover {
      background-color: $bgHoverNav;
      & > .sub-nav {
        display: block;
      }
    }
  }
}

.sub-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  position: absolute;
  z-index: 50;
  background-color: #fff;

  li {
    padding-left: 1em;

    @media (hover: hover) {
      padding-left: 0;
    }
  }

  &.is-active {
    max-height: 100vh;
  }

  @media (hover: hover) {
    display: none;
    position: absolute;
    max-height: none;
    overflow: visible;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 160px;

    .sub-nav {
      top: 0;
      left: 100%;
    }

    li:hover {
      & > .sub-nav {
        display: block;
      }
    }
  }
}

// SITE SEARCH COMPONENT
.site-search {
  @apply relative;

  label,
  button {
    @apply inline-flex h-[52px] w-[52px] cursor-pointer items-center justify-center;
  }
}

.site-search-fields {
  position: fixed;
  top: $headerHeight;
  left: 50%;
  width: 90%;
  max-width: 440px;
  transform: translate(-50%, 0) scale(0.9);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  padding: 1em 1.2em;
  background-color: #fff;
  border-radius: 0.5em;
  pointer-events: none;

  @media (screen(md)) {
    max-width: 600px;
  }

  input {
    width: 100%;
    padding-right: calc(52px * 2);
    padding-left: 1em;
    height: 52px;
  }

  button {
    position: absolute;
    right: 1.2em;
  }

  .btn-clear {
    transform: translateX(-100%);
    pointer-events: none;
    opacity: 0;

    &.is-active {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.site-search.is-active {
  z-index: 3;

  .site-search-fields {
    transform: translate(-50%, 1em) scale(1);
    opacity: 1;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.1);
    pointer-events: all;
  }
}

// SWITCH LOCALE
.switch-locale {
  @apply relative ml-2;
}

.btn-switch {
  @apply flex h-12 items-center;

  .text-caps {
    width: 2em;
  }
}

.lang-opts {
  opacity: 0;
  position: absolute;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.18);
  pointer-events: none;

  a {
    display: block;
    padding: 6px 8px;
  }

  a:hover {
    background-color: $bgHoverNav;
  }

  a.router-link-active {
    @apply text-primary;
    background-color: $bgHoverNav;
  }
}

.site-header--transparent {
  box-shadow: none;
  .dropdown {
    // background-color: white;
    color: #fff;
  }
}

.is-active .lang-opts {
  opacity: 1;
  pointer-events: all;
}

.is-active .btn-switch {
  @apply text-primary;
  background-color: $bgHoverNav;
}
